:host {
    .screen {
        font-size: 1.4em;
        font-weight: bold;
        padding: 1.2em 1em;
        border: 1px solid #263638;
        color: #263638;
        background-color: #9cbec3; 
        margin-bottom: 10px;
    }
}