<script src="counter.service.ts"></script>
<div class="container">
  <h1>Service example</h1>
  <app-screen></app-screen>
  <app-component-a class="col-xs-12 col-sm-6 float-left"></app-component-a>
  <app-component-b class="col-xs-12 col-sm-6 float-right"></app-component-b>
</div>
